section {
  margin: 16px;
}

.pokemon-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.pokemon-list-row {
  display: flex;
  flex-direction: row;
}

.pokemon-list .pokemon-list-row p {
  margin: 8px;
  border: solid green 2px;
}