header {
  display: flex;
  background-color: #A0EC23;
  justify-content: space-between;
}

header h1 {
  padding: 16px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 16px;
  text-decoration: none;
}

nav ul li a{
  text-decoration: none;
  color: white;
}

